# Tidak Kenal Maka Tidak Sayang

- Nama : Ferly Jeremi Purnawan Apiang
- NRP : 1973005

# Training Classifier dengan Suppor Vector Machine (SVM) Dataset Breast Cancer

Melakukan Training Classifier untuk Dataset Breast Cancer dengan classifier Support Vector Machine (SVM)

## Load Breast Cancer Dataset

Dimohon untuk menguduh terlebih dahulu dataset yang akan digunakan karena saya menggunakan Dataset yang sudah di unduh.

- Website Unduh : https://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+(Diagnostic)

In [5]:
import pandas as pd

df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data")

df.head()

   1000025  5   1  1.1  1.2  2 1.3  3  1.4  1.5  2.1
0  1002945  5   4    4    5  7  10  3    2    1    2
1  1015425  3   1    1    1  2   2  3    1    1    2
2  1016277  6   8    8    1  3   4  3    7    1    2
3  1017023  4   1    1    3  2   1  3    1    1    2
4  1017122  8  10   10    8  7  10  9    7    1    4

- Import Pandas untuk membuat sebuah table agar terlihat rapih
- df = pd.read_csv ("Input datasetnya") melakukan load datasetnya
- df.head() Menampilkan Data

### Dimensi Dataset Web

In [6]:
df.shape

(698, 11)

Baris yang ada dari dataset itu memiliki 698 Baris dan memiliki 11 kolom

### Last Data

In [7]:
df.tail()

     1000025  5   1  1.1  1.2  2 1.3   3  1.4  1.5  2.1
693   776715  3   1    1    1  3   2   1    1    1    2
694   841769  2   1    1    1  2   1   1    1    1    2
695   888820  5  10   10    3  7   3   8   10    2    4
696   897471  4   8    6    4  3   4  10    6    1    4
697   897471  4   8    8    5  4   5  10    4    1    4

Ini merupakan penampilan 5 Data terakhir

## Dataset Dimension

In [10]:
from sklearn.datasets import load_breast_cancer

X, y = load_breast_cancer(return_X_y=True)

print(f'Dimensi Feature: {X.shape}')
print(f'Class: {set(y)}')

Dimensi Feature: (569, 30)
Class: {0, 1}

- Pertama-tama kita panggil method *load_breast_cancer* dengan menyertakan parameter (return_X_y=True).
- Lalu selanjutnya kita panggil *X.shape* dan kita coba run.

Bisa kita lihat pada output code 02 bahwa, jumlah baris pada **Breast Cancer** dataset tersebut berjumlah 569 baris dan 30 kolom.